body {
	background: black;
} 
div{
	font-size: 20px;
	line-height: 10mm;
	color: white;
}
h1 {
	color: orange;
}
h3{
	color: orange;
}
footer{
	background: darkblue;
	font-size: 30;
}
a{
	color: orange;
}